/* Add CSS styling here */
/* General Styles */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid red;
    /*CSS reset*/
}
html{
    font-size: 75%;
}
body{
    line-height: 3;
    font-size: 80%;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5{
    letter-spacing: 2px;
    padding:4% 0;
}
section{
    margin:20px;
    height:20px;
    width:20px;
}

/* Header Styles */
header{
    height:10vh;
    margin:20px;
    display: flex;
    justify-items: flex-start;
    background-color: #cfb252;
}

/* nav styles */

header nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-content: center;
    background-color:#aac56f;
}
.nav-pic img{
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.nav-pic p{
    height:100%;
}


.links{
    height:20%;
    display:flex;
    align-content: space-around;
    align-items: center;
}
.links a{
    color: crimson;
    display:flex;
    justify-items: flex-start;
}
.links a:hover{
    opacity:80%;
    text-transform: uppercase;
}
/* end nav */

.title-container img h1 h2{
    height:80vh;
    display: flex;
    align-content:flex-end;
    margin:20%;
}


/* end Header*/

.box-rows{
    width:100%;
    height:150px;
    border: 1px transparent; 
}
.box-rows .boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.box-rows .boxes .text {
    display:flex;
    align-items: center;
    justify-content: center;
    width:25%;
    height: 200px;
    margin:10px 2%;
    background: dodgerblue;

}
.box-rows .boxes .text h3 h4 p{
    display: flex;
    flex-direction: column;
}